<html>
    <head>
        <title>Dashboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style type="text/css">
          .device {
            min-width: 300px;
            max-width: 300px;
            margin: 10px;
          }
          .battery-icon {
            width: 45px;
            height: 30px;
          }
          .status {
            padding: 20px;
          }
          .card {
            overflow: scroll;
          }
        </style>
    </head>
    <body>
        <div class="controls">
            <button type="button" onclick='connectDevices()' class="btn btn-primary action-btn connect-all-btn">Connect all</button>
            <button type="button" onclick='enableCycleMode()' class="btn btn-primary action-btn cycle-mode-btn">Cycle mode</button>
        </div>
        {% if devices.cycle_mode %}
          <h1 class="status">Status: <span class="badge badge-success">Cycle mode</span></h1>
        {% else %}
          <h1 class="status">Status: <span class="badge badge-warning">Charging mode</span></h1>
        {% endif %}
        <div class="card-deck">
            {% for device in devices.device_list %}
                <div class="card device border-dark">
                    <div class="card-body">
                        <h5 class="card-title">{{device.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{device.os}}</h6>
                        {% if device.charging %}
                            <span class="badge badge-success" style="background-color: green;">Connected</span><br>
                        {% else %}
                            <span class="badge badge-warning" style="background-color: red;">Disconnected</span><br>
                        {% endif %}
                        <span class="badge badge-light">UDID: {{device.udid}}</span><br>
                        <span class="badge badge-light">Hub serial number: {{device.hub_serial}}</span><br>
                        <span class="badge badge-light">Hub port: {{device.hub_port}}</span><br>
                        <img class="battery-icon" src="static/battery.svg" alt="battery">
                        <a>{{device.battery_percentage}}%</a><br>
                        <div style="text-align:center">
                            <a href="#" class="btn btn-primary btn-connect">Connect</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script>
            function connectDevices(){
                $.ajax({
                    type: "POST",
                    url: 'http://0.0.0.0:5004/api/connect',
                    success:function(response){
                       console.log("got response as "+"'"+response+"'");
                       location.reload();
                    }
                 })
            }
            function enableCycleMode(){
                $.ajax({
                    type: "POST",
                    url: 'http://0.0.0.0:5004/api/cycle',
                    success:function(response){
                       console.log("got response as "+"'"+response+"'");
                       location.reload();
                    }
                 })
            }
    </script>
    </body>
</html>